.image{
    width: 40px;
    border-radius: 50%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    font-size: 12px;
    color: black;
    border-bottom: 1px solid silver;
}

.container:last-child{
    border-bottom: none;
}

.name{
    width: 140px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

.symbol{
    width: 100px;
    font-size: 14px;
}
.price{
    width: 100px;
    font-size: 14px;
}
.priceUp{
    color: green;
    width: 140px;
    font-size: 14px;
}

.priceDown{
    color: red;
    width: 140px;
    font-size: 14px;
}

.imageUp{
    margin: auto 10px;

}