.input{
    width: 300px;
    border: 1px solid silver;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 40px 0;
    height: 20px;
    background-color: #f6f6f6;
    transition: all 0.2s ease;
}
.input:focus{
    outline: none;
    box-shadow: 5px 5px 5px rgb(163, 163, 163);
    background-color: white;
}

.coinContainer{
    background-color: #f6f6f6;
    margin: 40px auto;
    border: 1px solid silver;
    border-radius: 10px;
    width: fit-content;
}