.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container li{
    list-style-type: none;
    margin: 10px;
    
}

.container li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid silver;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #b6b6b6;
    color: black;
}
.container li a:hover{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid silver;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: black;
}